# Build artifacts
bin/
obj/

# Visual Studio / Rider / VSCode
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/

# OS
.DS_Store

# Logs
*.log

# User secrets (se existirem)
**/secrets.json

# Publish output
**/publish/
**/artifacts/

# Docker local volumes (se houver)
**/dbdata/
